<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout</title>
    <link rel="stylesheet" href="layout.css">
</head>

<body>
    <div>
        <ul id="ul">
            <li id="li"><a href="#home">Home</a></li>
            <li id="li"><a href="#news">News</a></li>
            <li id="li"><a href="#Contact">Contact</a></li>
            <li id="li"><a href="#about">About</a></li>

        </ul>
    </div>

    
    <div class="section">
        <ol class="listul">
            <li>The Flight</li>
            <li>The City</li>
            <li>The Island</li>
            <li>The Food</li>
            <li>The People</li>
            <li>The History</li>
            <li>The Oceans</li>
        </ol>
    </div>

    <div id="seconddiv">
        <div class="h1"> The City</div>
        <div class="content">
        <p style="font-weight: bold;font-size: 20px; margin-bottom: 20px;">Germany</p>
        <p>Firstly, Rock music is a style born in the 1960s as a derivative of rock and roll and characterized by the
            use of complex melodies and rhythms, with fairly fixed instrumentation (basically electric guitar, electric
            bass, keyboard and drums) and with an energetic rhythm underlined by the power of the bass and the drums,
            all of which is often linked to an anti-authoritarian and provocative attitude; it hasFirstly, Rock music is a style born in the 1960s as a derivative of rock and roll and characterized by the
            use of complex melodies and rhythms, with fairly fixed instrumentation (basically electric guitar, electric
            bass, keyboard and drums) and with an energetic rhythm underlined by the power of the bass and the drums,
            all of which is often linked to an anti-authoritarian and provocative attitude; it has developed a multitude
            of variants and has given way to new styles, such as pop, punk or heavy. developed a multitude
            of variants and has given way to new styles, such as pop, punk or heavy.Firstly, Rock music is a style born in the 1960s as a derivative of rock and roll and characterized by the
            use of complex melodies and rhythms, with fairly fixed instrumentation (basically electric guitar, electric
            bass, keyboard and drums) and with an energetic rhythm underlined by the power of the bass and the drums,
            all of which is often linked to an anti-authoritarian and provocative attitude; it has developed a multitude
            of variants and has given way to new styles, such as pop, punk or heavy.</p>
        </div>
    </div>
  <footer>
    <h3> Footer</h3><br>
    <p>diptigupta@gmail.com</p>
  </footer>

</body>

</html>