 *{
 box-sizing: border-box;
    
    
 }
 #container{
    background-color: rgb(237, 232, 232);
    overflow: auto;
    padding: 10px;
}
/* layout1 */
#div0{
    background-color:skyblue ;
    padding: 10px;
    margin-bottom: 10px;
}
#div1{
    background-color:rgb(239, 142, 93) ;
    padding: 5px;
}
#div2{
    background-color:rgba(140, 228, 144, 0.866);
    padding: 5px;
    float: left;
    width: 300px;
}
#div3{
    background-color:rgb(225, 149, 165);
    padding: 5px;
}
#div4{
    background-color:bisque ;
    padding: 5px;
}
/* footer */
footer{
    background-color:skyblue ;
    padding: 5px;
    margin-top: 10px;
}

/* layout2 */
#div5{
    background-color:rgb(239, 142, 93) ;
    padding: 5px;
}
#div6{
    background-color:rgba(140, 228, 144, 0.866);
    padding: 5px;
    float: left;
    width: 300px;
}
#div7{
    background-color:rgb(225, 149, 165);
    padding: 5px;
    clear: both;
    
}
#div8{
    background-color:bisque ;
    padding: 5px;
}


/* layout3 */
#div9{
    background-color:rgb(239, 142, 93) ;
    padding: 5px;
}
#div10{
    background-color:rgba(140, 228, 144, 0.866);
    padding: 5px;
    float: right;
    width: 300px;
    
}
#div11{
    background-color:rgb(225, 149, 165);
    padding: 5px; 
}
#div12{
    background-color:bisque ;
    padding: 5px;
}

/* layout4 */
#div13{
    background-color:rgb(239, 142, 93) ;
    padding: 5px;
}
#div14{
    background-color:rgba(140, 228, 144, 0.866);
    padding: 5px;
   float: right;
   width: 300px;
    
}
#div15{
    background-color:rgb(225, 149, 165);
    padding: 5px; 
    clear: both;

}
#div16{
    background-color:bisque ;
    padding: 5px;
}


/* layout5 */
#div17{
    background-color:rgb(239, 142, 93) ;
    padding: 5px;
    width: 300px;
    
}
#div18{
    background-color:rgba(140, 228, 144, 0.866);
    padding: 5px;
    
    
}
#div19{
    background-color:rgb(225, 149, 165);
    padding: 5px; 
    float: right;
    width: 300px;
}
#div20{
    background-color:bisque ;
    padding: 5px;
}

h1{
    background-color:rgb(11, 11, 11);
    color: white;
    margin-top: 50px;  
    text-align: center;
}

